/* 
   Style Sheet
   Filename: grid.css

   Author: Kalyn Culbert
 */


/* reset styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    background-color: lightcoral;
}

body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    text-align: center;
    font-family: sans-serif;
}

header,
footer,
.gallery {
    padding: 10px;
    font-size: 1.5rem;
}

header {
    background-color: white;
}


/* Gallery section */

.gallery {
    background-color: #f7f7f7;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

img {
    height: 250px;
    padding: 10px;
    flex-grow: 1 auto;
    max-width: 250px;
    border-radius: 10%;
}


/* main content */

.container {
    border-radius: 5px;
    background-color: none;
    padding: 20px;
}


/* sitenavigation */

nav.sitenavigation {
    overflow: hidden;
    background-color: black;
}

nav.sitenavigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav.sitenavigation a:hover {
    background-color: #ddd;
    color: black;
}

nav.sitenavigation a.active {
    background-color: rgb(212, 154, 183);
    color: white;
}


/* footer */

footer {
    color: white;
    text-align: center;
}


/* @media screens*/

@media only screen and (max-width: 768px) {
    style-element {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    style-element {
        font-size: 10px;
    }
}